.g-text{
    //border: 5px solid blue;
}

.g-edit {
    outline: 5px solid $color-danger;
    padding: 3px;
    margin-bottom: 3px;
}

.u-hide{
    display: none !important;
}

.u-centralize{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.u-centralize-x {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.u-bottom-0{
    position:absolute;
    bottom: 0;
    padding: 1rem;
}
