@inherits WebSiteWithCMS.Views.BaseView
@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p id="div1" class="g-text">Use this area to provide additional information.</p>
