@{
    ViewBag.Title = "Gozde SAHIN YILMAZ";
}

<section class="contact">
    <div class="contact__content">
        <div class="contact__content__item">
            <a href="mailto:sahin_gozde@yahoo.com" class="contact__content__item__link">
                <i class="material-icons contact__content__item__link__icon">
                    mail_outline
                </i>
            </a>
        </div>

        <div class="contact__content__item">
            <a href="https://github.com/gozdesy" target="_blank" class="contact__content__item__link">
                <i class="fa fa-github contact__content__item__link__icon"></i>
            </a>
        </div>

        <div class="contact__content__item">
            <a href="https://www.linkedin.com/in/gozde-sahin-yilmaz" target="_blank" class="contact__content__item__link">
                <i class="fa fa-linkedin contact__content__item__link__icon"></i>
            </a>
        </div>

    </div>
</section>
