@*@inherits WebSiteWithCMS.Views.BaseView*@
@{
    ViewBag.Title = "Home Page";
}

<section class="header">
    <div class="header__picture header__picture--1">
        <div class="header__container">
            <h1 class="header__container__text">WYSWYG CMS Demo is developed to practice my web programming skills. </h1>
            <div class="header__container__sub">
                <ul class="header__container__sub__list">
                        <li>1) Open Demo#1 Page.<br /></li>
                        <li>2) Click "Edit" button.<br /></li>
                        <li>3) Modify the text and background image.</li>
                        <li>4) Click "Save" button.</li>
                </ul>
                <ul class="header__container__sub__buttonslist">
                    <li class="header__container__sub__buttonslist__item">@Html.ActionLink("Demo#1", "Demo1", "Home", routeValues: null, htmlAttributes: new { @class = "header__container__sub__buttonslist__item__link" })</li>
                </ul>
            </div>
            
            
        </div>
    </div>
</section>





