@*@inherits WebSiteWithCMS.Views.BaseView*@
@{
    ViewBag.Title = "Home Page";
}

<section>
    <div class="header">
        <h1 id="h1" class="g-text">ASP.NET1</h1>
        <p id="header__text" class="g-text">ASP.NET2</p>
        <div id="div1" class="g-text">ASP.NET3</div>
        <p><a id="btn1" href="https://asp.net" class="btn btn-primary btn-lg g-text">Learn more &raquo;</a></p>
    </div>
</section>

