@*@inherits WebSiteWithCMS.Views.BaseView*@
@{
    ViewBag.Title = "Home Page";
}

<section class="header">
    <div class="header__picture header__picture--1">
        <div class="header__container">
            <h1 class="header__container__text">Here you can try to change the content of demo sections.<br/>Let's try!</h1>
            <ul class="header__container__buttonslist">
                <li class="header__container__buttonslist__item"><a href="http://google.com" class="header__container__buttonslist__item__link">Demo#1</a></li>
            </ul>
            
        </div>
    </div>
</section>

<section id="demo-1" class="demo-1">
    <div class="header">
        <div id="header__picture--demo1" class="header__picture header__picture--2">
            <div class="header__container">
                <h2 class="heading--secondary">Demo#1 : Flowers Company</h2>
                <h1 id="header__text--demo1" class="header__container__text g-text">Welcome to Flowers' World!</h1>
                
            </div>
        </div>
    </div>
</section>



