<div class="designtoolbar">
    <div id="pageid">@GetPageId()</div>

    <div id="designtoolbar__message" class="designtoolbar__message">No changes yet.</div>

    <ul class="designtoolbar__list">
        <li class="designtoolbar__list__item"><a href="#" id="designtoolbar__list__button--edit" class="designtoolbar__list__item__link">Edit</a></li>
        <li class="designtoolbar__list__item"><a href="#" id="designtoolbar__list__button--save" class="designtoolbar__list__item__link u-hide">Save</a></li>
        <li class="designtoolbar__list__item"><a href="#" id="designtoolbar__list__button--back" class="designtoolbar__list__item__link u-hide">Back</a></li>
    </ul>
    
    <div id="designtoolbar__message-box" class="designtoolbar__message-box u-hide">
        <p class="designtoolbar__message-box__text">If you continue, your changes will be lost. Want to continue?</p>
        <div class="u-centralize-x u-bottom-0">
            <a href="#" id="designtoolbar__message-box--yes" class="designtoolbar__message-box__link">Yes</a>
            <a href="#" id="designtoolbar__message-box--no" class="designtoolbar__message-box__link">No</a>
        </div>
    </div>
</div>