$color-primary : #D499B9;
$color-secondary: #9055A2;
$color-tertiary: #2E294E;
$color-quaternary: #011638;

$color-black: #000000;
$color-white: #FFFFFF;

$color-grey: #999999;
$color-grey-light: #DDDDDD;
$color-grey-dark: #555555;